.Landing-page-container {
  padding-top: 64px;
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .recharts-wrapper.mobile-line-chart {
    left: -50px;
    position: relative;
  }
}
