$darkGrey: #9f9f9f;
$lightGrey: #f5f5f5;
$darkBlue: #3c51c3;
$darkBlueWithGrey: #606cb1;
$darkGreen: #00731a;
$lightGreen: #ebfff0;
$secondary: #f50057;
$lightYellow: #fffef5;
$darkYellow: #fdd835;

:export {
  darkGrey: $darkGrey;
  lightGrey: $lightGrey;
  darkBlue: $darkBlue;
  darkBlueWithGrey: $darkBlueWithGrey;
  darkgreen: $darkGreen;
  lightGreen: $lightGreen;
  secondary: $secondary;
  lightYellow: $lightYellow;
  darkYellow: $darkYellow;
}
